body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  font-size: 20px;
}

html{
  background-color: #e0e0e0;
}

.iris {
    background-image: url("");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("/images/img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    padding-top: 40px;
    overflow: hidden;
}

.logo {
    display: inline-block;
    height: 20%;
}

.logo>img {
    vertical-align: middle
}

.headerClass{
  color: #4AAE59;
  font-size:64px;
}

.footerClass{
  color: #4AAE59;
  font-size:32px;
}

.cssImage{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}
